* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

main {
    background-color: #7fffd3;
    width: 100%;
    height: 800px;
}

/* Header */

header {
    padding: 1.5rem 0;
}

h1 {
    margin: 0 1rem;
    font-weight:700;
}

header img {
    width: 40px;
    height: 40px;
}

.ms_slc_padding {
    padding: 0.2rem 4rem;
    background-color: lightgray;
    border-radius: 5px;
}

.ms_btn_padding {
    padding: 0.1rem 1.5rem;
    background-color: lightgray;
    border: 1px solid #767676;
    border-radius: 5px;
}

/* Main */

#main-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 4rem 0;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.easy .square {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.hard .square {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.crazy .square {
    width: calc(100% / 7);
    height: calc(100% / 7);
}